:root {
        --primary-color:#00BFA5;
        --gray-1 : #757575;
        --secendary-color:#E61236;
        --text-color:#37474F;
        --gray-border: #EDF0F2;
        --color-white: #fff;
        --color-icon: #BDBDBD;
}